<div class="container container-centre" style="margin-top: 60px">
  <div class="row align-items-center justify-content-center">
    <div class="col-xl-5 col-md-8">
      <h2 class="text-center">Forgot password</h2>
      
      <form class="bg-white rounded shadow-5-strong p-5">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input 
          type="email"
          id="form1Example1"
          class="form-control" 
          placeholder="Email"
          #passwordResetEmail
          required/>
        </div>

        
      
        <input
        type="button"
        class="btn btn-primary btn-block"
        value="Reset password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      />
        <div class="col text-center" style="padding: 10px">
          <p>Go back to ? <a   
            class="redirect"
            routerLink="/sign-in"> Log in </a> </p>
        </div>
      </form>
    </div>
  </div>
</div>

