<div class="container container-centre" style="margin-top: 60px">
  <div class="row align-items-center justify-content-center">
    <div class="col-xl-5 col-md-8">
      <h2 class="text-center">Register</h2>
      
      <form class="bg-white rounded shadow-5-strong p-5">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input 
          type="email"
          id="form1Example1"
          class="form-control" 
          placeholder="Email"
          #userEmail
          required/>
         
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password"
          id="form1Example2"
          class="form-control"
          placeholder="Password"
          #userPwd
          required/>
        </div>

      
        <input
        type="button"
        class="btn btn-primary btn-block"
        value="Register"
        (click)="authService.SignUp(userEmail.value, userPwd.value)"
      />
        <p class="text-center">Or</p>
        
        <button  (click)="authService.GoogleAuth()" href="#" class="btn btn-danger btn-block google-plus"> Continue with Google <i class="fa fa-google-plus"></i> </button>
        <div class="col text-center" style="padding: 10px">
          <p>Already have an account? <a   
            class="redirect"
            routerLink="/sign-in"> Sign in </a> </p>
        </div>
      </form>
    </div>
  </div>
</div>

